.Container {
  max-width: 1000px;
  margin: 0 140px 100px 140px;
  margin-bottom: 100px;

  section {
    margin-top: 50px;

    span {
      background-color: #bbb;
      color: #222;
      padding: 5px;
      border-radius: 2px;
    }

    p {
      margin-top: 25px;
    }
  }
}
