.Container {
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 2px 2px 8px #888888;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #fff;
  // background-color: red;

  form {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  button {
    margin-top: 20px;
  }

  .Address {
    margin: 25px 0;
    box-shadow: 2px 2px 8px #e0e0e0;
    display: flex;
    flex-wrap: wrap;

    > div {
      padding: 10px;
      border: 1px solid #222;
      border-radius: 5px;
      margin: 0 10px;
      margin-bottom: 10px;
      background-color: #e0e0e0;
      width: 300px;
      cursor: pointer;

      > div {
        margin: 10px 0;
      }
    }
  }
}
